@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    background: #f3ede1;
  }
}

body {
  color: #1d2544;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
